.successimg{
    width: 100%;
    height: 75%;
}

.container18{
    background-color:white;
}

.lost66{
    border: 4px solid grey;
    border-radius: 80px;
    padding: 20px;
    color: maroon;
}
 .buttonsdiv{
    border: 1px solid rgb(77, 73, 73);
    padding: 20px;
    border-radius: 10px;
}
.container19{
    margin-top: 30px;
    padding: 30px;
}
.btndiv{
    border-radius: 10px;
    padding: 10px;
    color: #603;
    background-color: white;
}
.btndiv:hover{
    background-color:#603;
    color:white;

}
.lost661{
    border: 4px solid grey;
    border-radius: 190px;
    padding:20px 10px;
    color: maroon;
    background-color: rgb(162, 164, 164);
}
.readbtn{
    padding: 10px 30px;
    border-radius: 10px;
    background-color:#603;
    color:white;
}
.readbtn:hover{
    background-color:rgb(149, 21, 85);
    color: white;
}
.multicard:hover{
    background-color:whitesmoke;
}
.multicard{
    border-radius: 10px;
} 
.container20{
    background-color:#603;
    padding: 60px 10px 60px 10px;
}
.singlehead{
    font-size: 30px;
    color: white;
}
.singlebtn{
    background-color:#b6cc00;
    color: #603;
    padding: 10px 30px;
    border-radius: 10px;
}
.singlebtn:hover{
    background-color:#5c650c;
}
.imgmulti{
    height: 200px;
}
.btndiv1{
    background-color:#603;
    color: white;
    border-radius: 5px;
}
.successh2{
    color: #603;
}


@media screen and (max-width: 768px) {
    .btndiv{
      margin-bottom:20px;
    }
    .btndiv1{
        margin-bottom:20px;
      }
    .multicard{
        margin-top:20px;
    }

    }
