.Delfont-size{
    font-size: 14px;
}
.dicon1{
    margin-left: 300px;
  }
  .dicon2{
    margin-left: 305px;
  }
  .dicon3{
    margin-left: 312px;
  }
  .Deliverybutton1 {
    padding: 10px 20px;
    margin: 5px;
    background-color: white;
    color: black;
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style for the active button */
  .Deliveryactive {
    background-color:#603;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
  }
  .Deliverylocation1{
    background-color:#f3f3f37a;
    color: #603 ;
    padding: 0px 0px;
    margin: 0px;
    border-top: 1px solid silver;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width:100%;
    height: 60px;
    text-align: start;
    padding: 10px;
    border-radius:0px;
    
  }
  .Delivery-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    /* background-color: #cae8ca; */
    /* border: 2px solid #4CAF50; */
  }
.Del-getstarted{
    border: none;
    background-color:#603;
    color: white;
    border-radius: 5px;
}
.Del-review-text{
  font-size: 15px;
}